<!DOCTYPE html>
<html>
  <head>
    <title>
    Internfinder
    </title>
    <?= $this->Html->css('home.css') ?>
  </head>
  <body>

  <div class="col-md-3">
  </div>

  <div class="col-md-6 text-center">

    <h1 class="page_title">Internfinder </h1>
    <h3 class="sub-title">Trouver votre prochain stage en un seul clic!</h3>
    <!-- <div class="buttons">
      <a href="../Users/add" class="btn btn-primary btn-lg btn-custom login_btn">S'inscrire</a>
      <a href="#" class="btn btn-primary btn-lg btn-custom ">Découvrir</a>
    </div> -->
    <!-- <div class="search_bar"> -->
      <!-- <i class="glyphicon glyphicon-search"></i> -->

    <?=  $this->Form->create("search", [
        'url' => ['controller' => 'Users', 'action' => 'rechercherStage']]);

    echo '<input type="text" class="form-control" placeholder="Entrez un programme d\'étude..." name="srch-term" id="srch-term">'
    ?>

    <?=  $this->Form->Submit(__('Confirmer'), array('id' => 'button_rechecher')); ?>







    <!-- </div> -->


  </div>

  <div class="col-md-3">
  </div>

  </body>
</html>