@import url(https://fonts.googleapis.com/css?family=Raleway:400,500,600);

body {
	background-color: #4593e3;
	color: #FFF;
	padding: 0px !important;
}

.navbar-brand {
	font-size: 16px !important;

}

.navbar {
	background-color: rgb(60, 110, 184);
	border-radius: 0px !important;
	min-height: 70px;
	margin-bottom: 0px !important;
}

.team {
	margin-top: 100px;
}

.teammate_desc {
	font-family: 'Raleway';
	font-size: 22px;
	font-weight: 600;
	vertical-align: middle;
	/* margin-top: 10% !important; */
}

img.img_desc {
	margin-left: 20px;
}

.desc_auteur {
	margin-top: 20px;
	font-size: 14px;
	padding: 20px;
	text-align: center;
}

.postuler {
	color: #4593e3 ;
	border-color: #4593e3;
	float: right;
	font-size: 14px;
	width: 120px;
}

.postuler:hover {
	color: #4593e3 ;
	border-color: #4593e3;
	float: right;
	font-size: 14px;
	width: 120px;
}

.contenu_page {width: 100% !important;min-height: 500px !important;display:block;padding: 20px;background-color: rgba(0,0,0, 0.7);height: 500px !important;margin-top: 150px;}

.title_annonce {
	text-align: left;
	font-size: 30px;
	font-weight: 500;
	color: #4593e3;
}

.contenu_page {
    width: 100%;
    /* min-height: 500px !important; */
}

.teammate_pres {
	font-size: 14px;
	font-family: 'Raleway';
	font-weight: 200;
	padding: 20px;
}

span.tag{
    padding: 8px 20px;
    position: relative;
    top: -64px;
    left: -42px;
    display: inline-block;
    background: #4593e3;
    border-radius: 0 16px 16px 0;
    font-size: 16px;
}

 hr {
 	height: 5px;
 	color:grey;
 	width: 10%;
 }

 img {
    width: 100%;
    max-width: 240px;
    border-radius: 50%;
    border: 15px solid transparent;
    box-shadow: 2px 2px 0px rgba(0,0,0, 0.18);
    transition: all 0.1s ease-in;
}

 .title_about {
 	font-weight: 600;
 	padding-top: 10px;
 	font-size: 38px;
 	color:#4593e3;
 	text-align: center;
 }
