@import url(https://fonts.googleapis.com/css?family=Raleway:400,500,600);
/*body {
	background-image: none !important;
	background-color: #FFF !important;
}*/

input, textarea{
  width: 70%;
  margin-left: 40px;
  padding: 10px !important;
  border: solid 1px #dcdcdc;
  margin-bottom: 5px;
  float: right !important;
  color: #000 !important;
}

label {
    margin-top: 20px !important;
    float: left !important;
    color: #000;
}

legend {
    color: white !important;
    margin-bottom: 30px;
    margin-top: 0px;
    text-align: center;
}

.dropdown {
	float: right;
	margin-top: 5px;
	background-color: #FFF !important;
	color: #000;
}

button {
	float: right;
	margin-top: 30px;
	padding-bottom: 30px;
}

#etape {
	float: right;
	color:#E4C8C2;
}

fieldset {
	margin-top: 20px;
}

#title {
	text-align: center;
	margin-top: 30px;
	font-size: 32px;
	color: #4593e3;
	/* margin-left: 160px; */
}

/*body {*/
	/*background-image: url(../img/register-background.jpg);*/
	/*background-size: cover;*/
	/*background-repeat: no-repeat;*/
	/*font-family: 'Raleway', sans-serif;*/
/*}*/

.page_title {
	text-align: center;
	/*color: #FFF;*/
	line-height: 65px;
	z-index: 0;
	text-transform: uppercase;
	font-size: 65px;
	float: none;
	vertical-align: middle;
	margin: 0 auto;
	margin-top: 20%;
}

.buttons {
	margin-top: 20px;
	text-align: center;
	display: inline-block;
}

.btn-custom {
	background-color: #FFF;
	padding: 12px 22px;
	border: 2px solid #FFF;
	/*color: #FFF;*/
	width: 170px;
}

.btn-custom:hover, .btn-custom:focus, .btn-custom:active, .btn-primary.outline.active, .open > .dropdown-toggle.btn-primary {
	/*color: #000;*/
	border-color: #FFF;
	background-color: #FFF;
}

.btn-primary:active, .btn-primary.custom.active {
	border-color: #007299;
	color: #007299;
	box-shadow: none;
}

#home-button {
	margin: 10px;
	padding-left: 20px;
	/*color: white;*/
	text-align: center;
	text-decoration: none;
	text-transform: inherit;
	font-size: 18px;
}

ul {
	list-style-type: none;
	margin: 0;
	overflow: hidden;
	/*background-color: rgba(51,51,51,0.3);*/
}

ul.navbar-right {
	padding-right: 20px;
}

span.error_message {
	text-align: center;
	display: inherit;
	color: red;
	margin-top: 10px;
}

li {
	float: left;
	margin-left: 15px;
}

li.icon-connect {
	margin-right: 10px;
	float: right;
}

li.icon-search {
	float: right;
	margin-right: 10px;
}

li a {
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	text-transform: inherit;
	font-size: 18px;
}

a:hover {
	text-decoration: none;
	color: #BDBDBD;
}

a:active {
	text-decoration: none;
	color: gray;
}

.container {
	padding-right: 50px;
	padding-left: 50px;
	margin-right: 0px;
	margin-left: 0px;
	width: 100%;
}

h3 {
	text-align: center;
	margin-top: 5px;
	margin-bottom: 15px;
	font-size: 18px;
}

.modal-dialog {
	background: #fefefe;
	border: #333 solid 1px;
	border-radius: 5px;
	position: fixed;
	z-index: 11;
	width: 500px;
	-webkit-transform: translate(0, -500%);
	-ms-transform: translate(0, -500%);
	transform: translate(0, -500%);
	-webkit-transition: -webkit-transform 0.3s
}

/*Modal ContentBox*/
.modal-dialog {
	display: inline-block;
	text-align: left;
	vertical-align: middle;
	position: fixed;
	top: 5%;
	left: 65%;
	width: 450px;

}

.info-form {
    margin-bottom: 30px;
    background-color: rgba(0,0,0, 0.7);
    padding: 10px;
    padding-top: 0px;
}

.info-form label {
	color: #4593e3 !important;
	font-weight: 300;
	font-size: 16px;
}

@media screen and (min-width: 768px) {
	.modal-dialog:before {
		display: inline-block;
		vertical-align: middle;
		content: " ";
		height: 100%;
		position: fixed;
		top: 5%;
		left: 65%;
		width: 450px;
	}
}


.next_step, .prev_step, .addUser{
	/*margin-top: 100%;*/
	text-align: center;
}

.prev_step {
	float: left;
}

.modal-header {
	background-color: #E1CC9E;
}

.modal-body {
	text-align: center;
}

.modal-footer {
	background-color: #E1CC9E;
}

input {
	width: 100%;
	height: 40px;
	box-sizing: border-box;
	border-radius: 5px;
	border: 1px solid #ccc;
	font-size: 14px;
	font-family: 'Raleway', sans-serif;
	padding: 0 20px 0 50px;
	outline: none;
	color: #000 !important;
	background-color: #FFF;
}

input#username {
	background: #fff url('http://i.imgur.com/u0XmBmv.png') 20px top no-repeat;
	background-size: 16px 80px;
	padding-left: 50px !important;
	background-color: #FFF !important;
}

#new-to-internfinder {
	margin-top: 5px;
	display: block;
	font-size: 10px;
	font-family: 'Raleway', sans-serif;
	text-align: center;
}

#forgotten_password {
	display: block;
	text-align: center;
	font-size: 10px;
	font-family: 'Raleway', sans-serif;
}

select {
	width: 100%;
	height: 45px;
	box-sizing: border-box;
	border-radius: 5px;
	border: 1px solid #ccc;
	font-size: 14px;
	font-family: 'Raleway', sans-serif;
	outline: none;
}

#button_submit {
	margin-top: 10px;
	width: 100%;
	height: 45px;
	border-radius: 5px;
	border: 1px solid #E1CC9E;
	color: #fff;
	background-color: #E1CC9E;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 14px;
	font-family: 'Raleway', sans-serif;
	outline: none;
	cursor: pointer;
}
