@import url(https://fonts.googleapis.com/css?family=Raleway:400,500,600);
body {
	font-family: 'Raleway';
}

body.ls_annonces {
	/*background-image: none !important;
	background-color: #FFF !important;
	color: #000 !important;*/
}

.annonce_table {
	padding: 50px;
	background-color: rgba(0,0,0, 0.7);
	margin-top: 40px;
}

.annonce_form {
	padding: 50px;
	margin-top: 40px;
	background-color: rgba(0,0,0, 0.7);
	color: #FFF;
}

.annonce_form input textarea{
	width: 70% !important;
}

/*.Debutstage label {
	float: left;
}
.Debutstage input {
	float: right;
}*/


.Debutstage {
	display: inline;
}
.form.info-form, .sent_message {
	/* background-color: rgba(0,0,0, 0.5) !important; */
}

.form_createAnnonce {
	padding: 30px;
	align-content: center;
}
.new-msg-button:hover{
	background-color: transparent;
}

.new-msg-button {
	float: right;
	padding: 5px;
	margin: 10px 0px 10px 10px;
}

.annonce_table a {
	color: #4593e3 !important;
}


.user_panel {
	width: 25%;
	background-color: lightslategrey;
	/*background-image: url(../img/main_bg.jpeg) !important;*/
	height:100%;
	float: left;
	display:block;
	position:fixed;  
}

.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
  outline: none;
}

select#program-id, select#compensation {
	width: 100% !important;
}

.btn-circle.btn-lg {
  width: 50px;
  height: 50px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 25px;
}

.glyphicon.glyphicon-usd.compens {
	color: blue !important;
	font-size: 18px;
}

.glyphicon.glyphicon-usd.no_compens {
	color: grey !important;
	font-size: 18px;
}


.title {
	margin-top: 30px;
	text-align: center;
	color: #337ab7;
	margin-left: 50px;
	font-size: 32px;
}

#publier_annonce {
	float: right;
	margin-right: 50px;
	margin-top: 30px;
	font-size: 16px;
}

.contenu_annonce {
	/*padding: 100px;*/
	text-align: center;
}

.favorite {
	float: right;
	margin-right: 50px;
	margin-top: 10px;
	font-size: 24px !important;
	color: #4593e3 !important;
}

.favorite:hover {
	color: #4593e3 !important;
	font-size: 28px !important;
}

.added_to_fav {
	float: right;
	margin-right: 50px;
	margin-top: 10px;
}

textarea {
	margin-top: 10px;
	width: 100%; !important;
}

legend {
	text-align: center;
	color: #4593e3;
	font-size: 32px;
	font-weight: 400;
	font-family: inherit;
}

input {
	width: 100% !important;
}

button {
	margin-top: 30px;
	float: right;
	margin-right: 3px;
    width: 20%;
    color: #000;
}

select {
	width: 15% !important;
	margin-right: 5px;
	float: right;
	color: #000;
}

.dates label {
	float: left;
	margin-top: 10px;
}