@import url(https://fonts.googleapis.com/css?family=Raleway:400,500,600);

.navbar-brand {
  font-size: 16px !important;
}


a:hover {
    background-color: #111;
}

.contact_content {
  padding: 40px;
  margin-left: 50px;
}

.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: #333;
  text-align: center;
  color: #000;
}

.desc {
  margin-left: 100px;
  margin-right: 100px;
}

.row {
  margin-top: 60px;
  margin-left: auto;
  margin-right: auto;
}

.title {
  font-size: 36px;
  text-align: center;
  margin-top: 15px;
  color: #4593e3;
  margin-bottom: 15px;
  margin-left: auto;
}

.sub-title {
  font-size: 14px;
  text-align: center;
  margin-top: 35px;
}

.sent_message {
  height: 200px;
  width: 500px;
  font-size: 30px;
  color: #4593e3;
  font-weight: 300;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -100px;
  margin-left: -200px;
}

.sent_message h5 {
  color: #000;
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  margin-left: -40px;

}

.sent_message h6 {
  text-align: right;
  font-size: 15px;
  font-weight: 600;
}

input, textarea{
  padding: 20px !important;
  border: solid 1px #dcdcdc;
  margin-bottom: 5px;
  color: #000;
}

input.forminput-new, textarea{
  width: 100% !important;
}

.marker {
  font-size: 102px;
  margin-left: 30%;
  margin-top: 15%;
  color: red;
}

.button_submit {
  width: 100% !important;
  text-align: center;
  padding: 5px !important;
  background-color: #3C6EB8;
  color: #FFF;
  font-size: 20px;
  border-color: #3C6EB8;
}

.button_submit:hover {
  background-color: #4593e3;
  border-color: #4593e3;
}

legend {
  color: #585858;
  margin-top: 30px;
  font-weight: 600;
}

.second_part {
  margin-top: 30px;
}

.address {
  text-align: left;
  font-size: 16px;
  margin-left: 40px;
}

.form {
  margin-top: 20px;
}

h3 {
  margin-top: 40px;
  text-align: left;
  margin-left: 40px;
  font-size: 22px;
  font-weight: 700;
}