@import url(https://fonts.googleapis.com/css?family=Raleway:400,500,600);


.page_title {
	text-align: center;
	color: #FFF;
	line-height: 65px;
	z-index: 0;
	text-transform: uppercase;
	font-size: 65px;
	float: none;
	vertical-align: middle;
	margin: 0 auto;
	margin-top: 20%;
}

.buttons {
	margin-top: 20px;
	text-align: center;
	display: inline-block;
}

.btn-custom {
	background: none;
	padding: 12px 22px;
	border: 2px solid #FFF;
	color: #FFF;
	width: 170px;

}

.btn-custom:hover, .btn-custom:focus, .btn-custom:active, .btn-primary.outline.active, .open > .dropdown-toggle.btn-primary {
	color: #000;
	border-color: #FFF;
	background-color: #FFF;
}

.btn-primary:active, .btn-primary.custom.active {
	border-color: #007299;
	color: #007299;
	box-shadow: none;
}

#home-button {
	margin: 0px;
	padding-left: 20px;
	color: white;
	text-align: center;
	text-decoration: none;
	text-transform: inherit;
	font-size: 18px;
}

ul.header-ul {
	list-style-type: none;
	margin: 0;
	overflow: hidden;
	/*background-color: rgba(51,51,51,0.3);*/
}

ul.navbar-right {
	padding-right: 20px;
}

li.header-li {
	float: left;
	margin-left: 15px;
}

li.icon-connect {
	margin-right: 10px;
	float: right;
}

li.icon-search {
	float: right;
	margin-right: 10px;
}

li.header-li a.header-a {
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	text-transform: inherit;
	font-size: 18px;
}

a.header-a:hover {
	text-decoration: none;
	color: #BDBDBD;
}

a.header-a:active {
	text-decoration: none;
	color: gray;
}

.container {
	padding-right: 0px;
	padding-left: 0px;
	margin-right: 0px;
	margin-left: 0px;
	width: 100%;
}

h3 {
	text-align: center;
	margin-top: 5px;
	margin-bottom: 15px;
	font-size: 18px;
}

.modal-dialog {
	background: #fefefe;
	border: #333 solid 1px;
	border-radius: 5px;
	position: fixed;
	z-index: 11;
	width: 500px;
	-webkit-transform: translate(0, -500%);
	-ms-transform: translate(0, -500%);
	transform: translate(0, -500%);
	-webkit-transition: -webkit-transform 0.3s
}

/*Modal ContentBox*/
.modal-dialog {
	display: inline-block;
	text-align: left;
	vertical-align: middle;
	position: fixed;
	top: 5%;
	left: 65%;
	width: 450px;

}

@media screen and (min-width: 768px) {
	.modal-dialog:before {
		display: inline-block;
		vertical-align: middle;
		content: " ";
		height: 100%;
		position: fixed;
		top: 5%;
		left: 65%;
		width: 450px;
	}
}

.modal-header {
	background-color: #E1CC9E;
}

.modal-body {
	text-align: center;
}

.modal-footer {
	background-color: #E1CC9E;
}

input.header-input {
	width: 100%;
	height: 42px;
	box-sizing: border-box;
	border-radius: 5px;
	border: 1px solid #ccc;
	font-size: 14px;
	font-family: 'Raleway', sans-serif;
	padding: 0 20px 0 50px;
	outline: none;
}

input#username {
	background: #fff url('http://i.imgur.com/u0XmBmv.png') 20px top no-repeat;
	background-size: 16px 80px;
}

#new-to-internfinder {
	margin-top: 5px;
	display: block;
	font-size: 10px;
	font-family: 'Raleway', sans-serif;
	text-align: center;
}

#forgotten_password {
	display: block;
	text-align: center;
	font-size: 10px;
	font-family: 'Raleway', sans-serif;
}

select {
	width: 100%;
	height: 45px;
	box-sizing: border-box;
	border-radius: 5px;
	border: 1px solid #ccc;
	font-size: 14px;
	font-family: 'Raleway', sans-serif;
	outline: none;
}

#button_submit {
	margin-top: 10px;
	width: 100%;
	height: 45px;
	border-radius: 5px;
	border: 1px solid #E1CC9E;
	color: #fff;
	background-color: #E1CC9E;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 14px;
	font-family: 'Raleway', sans-serif;
	outline: none;
	cursor: pointer;
}
