@import url(https://fonts.googleapis.com/css?family=Raleway:400,500,600);

body {
	background-image: url(../img/main_bg.jpeg) !important;
	/*background-image: url(https://images.unsplash.com/photo-1437823055869-5309288494c8?crop=entropy&fit=crop&fm=jpg&h=750&ixjsv=2.1.0&ixlib=rb-0.3.5&q=80&w=1300);*/
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: fixed;

	font-family: 'Raleway', sans-serif;
}

h5 {
	font-size: 14px;
	/* width: 60%; */
	/* text-align: center; */
}


.title_annonce span {
	text-align: center;
	font-size: 14px;
	color: #000 !important;
}

.contenu_page section {
	margin-top: 40px;
}

.contenu_page .title_annonce {
	text-align: left !important;
	font-size: 24px;
}

.contenu_page .title_annonce hr {
	margin: 0;
	width: 100%;
	margin-top: 20px;
}

.contenu_page section h4 {
	font-weight: 300;
	color: #4593e3;
	font-size: 22px;
	margin-top: 40px !important;
}

.contenu_page section hr {
	margin-left: 0;
}

#userName {
	font-size: 18px;
	font-weight: 600;
	margin-top: 10px;
	color: #FFF;
	line-height: 4em;
}

.message, .info, .success, .warning, .error {
	font-size: 120%;
	text-align: center;
}

.error {
	color:red;
}

.success {
	color: #4593e3;
}

#srch-term {
	width: 100%;
	margin-top: 40px;
	margin-left: 0px;
	background: #FFF;
	border: 1px solid #FFF;
	padding: 25px !important;
	color: #000;
	font-size: 16px;
	font-family: inherit;
}

#button_rechecher{
	position: absolute;
	left: -9999999px;
	width: 1px;
	height: 1px;
}

.dropdown-menu > li > a {
	color: #000 !important;
}

.page_title {
	text-align: center;
	color: #4593e3;
	line-height: 65px;
	z-index: 0;
	text-transform: uppercase;
	font-size: 65px;
	float: none;
	vertical-align: middle;
	margin: 0 auto;
	margin-top: 20%;
}

.buttons {
	margin-top: 20px;
	text-align: center;
	display: inline-block;
}

.btn-custom {
	background: none;
	padding: 12px 22px;
	border: 2px solid #FFF;
	color: #4593e3;
	width: 170px;

}
.btn-custom:hover, .btn-custom:focus, .btn-custom:active, .btn-primary.outline.active, .open > .dropdown-toggle.btn-primary {
	color: #000;
	border-color: #FFF;
	background-color: #FFF;
}

.btn-primary:active, .btn-primary.custom.active {
	border-color: #007299;
	color: #007299;
	box-shadow: none;
}

#home-button {
	margin: 0px;
	padding-left: 20px;
	text-align: center;
	text-decoration: none;
	text-transform: inherit;
	font-size: 18px;
	color: white;
	margin-top: 10px;
}

.dropdown-menu {
	width: 250px !important;
}

.dropdown-menu li a {
	color: black !important;
	font-size: 14px;
}

li {
	float: left;
	margin-left: 15px;
}

li.icon-connect {
	margin-right: 10px;
	float: right;
	margin-left: 20px;
}

.dropdown_connect {
	margin-left: 20px !important;
	margin-top: 10px;
	color: white !important;
	background-color: transparent !important;
	font-size: 24px !important;
	border: none !important;
}
.icon-connect-font-size{
	margin-top: 5px;
	font-size: 28px !important;
}

#navbar li a {
	margin-top: 10px;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	color: white;
	text-transform: inherit;
	font-size: 18px;
}

a:hover {
	text-decoration: none;
	color: #4593e3 !important;
	background-color: transparent !important;
	font-weight: 900;
}

a:active {
	text-decoration: none;
	color: gray;
}

.nav > li > a:hover, .nav > li > a:focus {
    background-color: transparent;
}

.container {
	padding-right: 0px;
	padding-left: 0px;
	margin-right: 0px;
	margin-left: 0px;
	width: 100%;
}

h3 {
	text-align: center;
	margin-top: 5px;
	margin-bottom: 15px;
	font-size: 18px;
}

.sub-title{
    color: rgba(0, 0, 0, 0.71);
}

.modal-dialog {
	background: #fefefe;
	border: #333 solid 1px;
	border-radius: 5px;
	position: fixed;
	z-index: 11;
	width: 500px;
	-webkit-transform: translate(0, -500%);
	-ms-transform: translate(0, -500%);
	transform: translate(0, -500%);
	-webkit-transition: -webkit-transform 0.3s
}

/*Modal ContentBox*/
.modal-dialog {
	display: inline-block;
	text-align: left;
	vertical-align: middle;
	position: fixed;
	top: 20%;
	left: 35%;
	width: 450px;

}

@media screen and (min-width: 768px) {
	.modal-dialog:before {
		display: inline-block;
		vertical-align: middle;
		content: " ";
		height: 100%;
		position: fixed;
		top: 50%;
		left: 50%;
		width: 450px;
	}
}

.modal-header {
	background-color: #4593e3;
	opacity: 0.9;
}

.modal-title {
	color: white !important;
	text-align: center;
}

.modal-body {
	text-align: center;
	color: #000;
}

.modal-footer {
	background-color: #4593e3;
	opacity: 0.9;
}

input {
	width: 100%;
	height: 42px;
	box-sizing: border-box;
	border-radius: 5px;
	border: 1px solid #ccc;
	font-size: 14px;
	font-family: 'Raleway', sans-serif;
	padding: 0 20px 0 50px;
	outline: none;
}

input#username {
	background: #fff url('http://i.imgur.com/u0XmBmv.png') 20px top no-repeat;
	background-size: 16px 80px;
}

#new-to-internfinder {
	margin-top: 5px;
	display: block;
	font-size: 12px;
	font-family: 'Raleway', sans-serif;
	text-align: center;
}

#new-to-internfinder a, #forgotten_password  a {
	color: #4593e3 !important;
}

#forgotten_password {
	display: block;
	text-align: center;
	font-size: 12px;
	font-family: 'Raleway', sans-serif;
	color: #4593e3 !important;
}

select {
	width: 100% !important;
	height: 45px;
	box-sizing: border-box;
	border-radius: 5px;
	border: 1px solid #ccc;
	font-size: 14px;
	font-family: 'Raleway', sans-serif;
	outline: none;
}

#button_submit {
	margin-top: 10px;
	width: 100%;
	height: 45px;
	border-radius: 5px;
	border: 1px solid #E1CC9E;
	color: #fff;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 14px;
	font-family: 'Raleway', sans-serif;
	outline: none;
	cursor: pointer;
	background-color: #4593e3;
	opacity: 0.9;
}
