@import url(https://fonts.googleapis.com/css?family=Raleway:400,500,600);

body {
	background: url(../img/background_1.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	font-family: 'Raleway', sans-serif;
}

h1 {
	font-family: 'Raleway', sans-serif;
	font-weight: 500;
	margin-left: 40%;
	font-size: 600%;
	color: #FFF;
}

h1 #finder {
	font-weight: 500;
	font-size: 80%;
	color: #C3A8D5;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: rgba(51,51,51,0.3);
	width: 100%;
}

li {
	float: left;
	margin-left: 15px;
}

li a {
	display: inline-block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 18px;
}

select {
	width: 100%;
	height: 45px;
	box-sizing: border-box;
	border-radius: 5px;
	border: 1px solid #ccc;
	font-size: 14px;
	font-family: 'Raleway', sans-serif;
	outline: none;
}

a:hover {
	color: #c3a8d5;
}

.container {
    padding-right: 0px; 
    padding-left: 0px; 
    margin-right: 0px;
    margin-left: 0px;
    width: 100%;
}

.login-block #new-to-internfinder {
	margin-top:5px;
	display: block;
	font-size: 10px;
	font-family: 'Raleway', sans-serif;
	text-align: center;
}

.login-block #forgotten_password {
	display: block;
	text-align: center;
	font-size: 10px;
	font-family: 'Raleway', sans-serif;
}

.login-block {
	width: 420px;
	padding: 20px;
	background: #fff;
	border-radius: 5px;
	border-top: 5px solid #C3A8D5;
	margin: 0 auto;
}

.login-block h1 {
	text-align: center;
	color: #000;
	font-size: 18px;
	text-transform: uppercase;
	margin-top: 0;
}

.login-block input {
	width: 100%;
	height: 42px;
	box-sizing: border-box;
	border-radius: 5px;
	border: 1px solid #ccc;
	font-size: 14px;
	font-family: 'Raleway', sans-serif;
	padding: 0 20px 0 50px;
	outline: none;
}

.login-block input#username {
	background: #fff url('http://i.imgur.com/u0XmBmv.png') 20px top no-repeat;
	background-size: 16px 80px;
}

.login-block input#username:focus {
	background: #fff url('http://i.imgur.com/u0XmBmv.png') 20px bottom no-repeat;
	background-size: 16px 80px;
}

.login-block input#password {
	background: #fff url('http://i.imgur.com/Qf83FTt.png') 20px top no-repeat;
	background-size: 16px 80px;
}

.login-block input#password:focus {
	background: #fff url('http://i.imgur.com/Qf83FTt.png') 20px bottom no-repeat;
	background-size: 16px 80px;
}

.login-block input:active, .login-block input:focus {
	border: 1px solid #B73BD5;
}

#btn_close_modal {
	background: #C3A8D5;
	box-sizing: border-box;
	border-radius: 5px;
	border: 1px solid #C3A8D5;
	color: #fff;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 14px;
	font-family: 'Raleway', sans-serif;
	outline: none;
	cursor: pointer;
}

.login-block button {
	width: 100%;
	height: 25px;
	background: #C3A8D5;
	box-sizing: border-box;
	border-radius: 5px;
	border: 1px solid #C3A8D5;
	color: #fff;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 14px;
	font-family: 'Raleway', sans-serif;
	outline: none;
	cursor: pointer;
	margin-top: 20px;
}

.login-block button:hover {
	background: #B98CD7;
}

.text-left {
	text-align: left;
}

.text-right {
	text-align: right;
}

.text-center {
	text-align: center;
}