.table-inbox{
	/* Fallback for web browsers that doesn't support RGBa */
	background: rgb(0, 0, 0);
	/* RGBa with 0.6 opacity */
	background: rgba(0, 0, 0, 0.7);
	/* For IE 5.5 - 7*/
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
	/* For IE 8*/
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
}

.table-inbox a, td, th{
	color: white;
}

.table-inbox th{
	font-size: 16px;
	font-weight: bolder;
}

.table-msg{
	min-width: 0 !important;
}

.table-msg td{
	padding: 10px;
}

.table-msg th{
	padding-left: 10px;
}

.msg-button:hover{
	background-color: transparent;
	color: #4593e3;
}

.msg-button {
	float: right;
	padding: 5px;
	margin: 10px 0px 10px 10px;
	color: white;
}

.no-padding{
	padding: 0;
}

.center-content{
    margin: auto;
    text-align: center;
}

.title{
	margin-top: 60px;
	text-align: center;
	color: #337ab7;
}

.actions .view-msg{
	float: left;
	margin: 0px 10px;
}

.actions .delete-msg{
	float: right;
	margin: 0px 10px
}

.msg-body{
	margin-top: 15px;
	width: 100%;
}

.new-msg-form select, input, textarea{
	margin-bottom: 15px;
}

.new-msg-form legend, label {
	color: #4593e3;
}

.msg-content{
	margin: 20px 0px;
}

.msg-content p{
	color: white;
}

.msg-view-buttons button, a{
	color: #4593e3;
}

.msg-view-buttons button{
	width: 20%;
	border-color: black;
}