textarea {
    width: 50%;
    height: 10em;
    border-radius: 1em;
    border: 1px solid #000; /* everything up to and including this line
                               are aesthetics, adjust to taste */
    outline: none; /* removes the default outline */
    resize: none; /* prevents the user-resizing, adjust to taste */
}



.numero{
    width: 50%;
    text-align: center;
}
 .mail{
     width: 50%;
     text-align: center;
 }

.nom-college{
    width: 30% !important;
    text-align: center;
}

body{
    background-image: url(../img/main_bg.jpeg) !important;

}
button{
    /* float: none; */
}

label{
    display: block;
}

#description{
    width: 100%;
}