body {
    /*padding: 10px;*/
}

.user_panel {
    width: 25%;
    background-color: rgba(0, 0, 0, 0.8);
    /*background-image: url(../img/main_bg.jpeg) !important;*/
    height: 85%;
    float: left;
    display: block;
    position: fixed;
    color: white;
    padding: 0 !important;
    font-size: 20px;
    display: inline-block;
    text-align: center;
    padding-bottom: 10px !important;
}

.desc_user {
    padding: 20px !important;
}

.row_desc {
    width: 100% !important;
    min-height: 250px;
    display: block;
    margin-top: 20px;
    padding: 50px;
    background-color: rgba(0, 0, 0, 0.8);
    margin-left: 10px;
    font-size: -4px;
    padding: 0 !important;
    color: white;
}

.col-md-9 {
    margin-top: 5% !important;
}

.glyphicon-pencil {
    float: right;
    padding: 5px !important;
}

.glyphicon-pencil:hover {
    font-size: 28px;
    cursor: pointer;
}

textarea#message-corps {
    width: 100%;
    resize: none;
    margin-top: 20px;
    margin-bottom: 10px;
    padding-left: 30px;
    padding-top: 10px;
}

input#titre-message {
    padding-left: 30px !important;
}

.row {
    margin-left: 10px !important;
    margin-right: 10px !important;
    padding:;
}

div.col-md-6 {
    margin-left: 17px;
    background-color: rgba(0, 0, 0, 0.8);
    min-height: 200px;
    margin-bottom: 5px;
    width: 48% !important;
    padding: 0 !important;
}

h5.description {
    text-align: center;
    font-style: italic;
    font-size: 16px;
    padding: 60px;
    color: white;
    line-height: inherit;
}

.desc_title {
    text-align: center;
    background-color: #4593e3;
    color: white;
    font-size: 24px;
    min-height: 50px;
    padding: 10px;
}

.circle-icon {
    background: #ffc0c0;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    text-align: center;
    line-height: 100px;
    vertical-align: middle;
    padding: 30px;
}

.navbar {
    background-color: rgb(60, 110, 184) !important;
    border-radius: 0px !important;
    min-height: 70px;
    /*margin-bottom: 0px !important;*/
}

span.title {
    font-size: 32px;
    color: #4593e3;
    text-align: center;
}

h5 {
    margin-top: 0;
    font-style: italic;
    font-size: 16px;
    font-weight: 300;
}

h5.username {
    margin-top: 0;
    font-style: italic;
    font-size: 14px;
    font-weight: 300;
    text-align: center;
}

.row_desc .col-md-4 {
    background-color: rgba(0, 0, 0, 0.8);
    height: 300px !important;
    padding: 10px;
    /*width: 380px;*/
    margin: 10px;
}

#img_profil {
    display: inherit;
    padding: 20px;
    margin: auto;
}

    